# OS-specific files
.DS_Store
Thumbs.db

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
*.so

# Java
*.class
*.jar
*.war
*.ear
*.iml
*.ipr
*.iws
target/
out/

# Visual Studio Code
.vscode/
.history/
*.code-workspace

# Logs
*.log

# Environment variables
.env
.env.local
.env.*.local

# Miscellaneous
*.swp
*.swo
*.bak
*.tmp
*.temp
*.txt
