html, body { height: 100%;}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

input,select,textarea {
  font-size: 1rem;
  font-family: Arial, sans-serif;
  padding: 4px;
}

[type='submit'] {
  font-size: 1rem;
  padding: 5px 10px;
  margin: 10px 0;
  cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: 20%;
  
}

fieldset {
  width: 100%; /* Ensures all fieldsets take the full width of their container */
  box-sizing: border-box; /* Includes padding and border in the element's total width and height */
  margin-top: 10px;
}

legend {
  padding: 0 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

select,textarea {
  font-size: 1rem;
  font-family: Arial, sans-serif;
}

textarea {
  width: 90%;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 10px 20px 40px 20px;
}

footer {
  position: sticky;
  top: 100vh;
  margin: auto;
  background-color: #333;
  color: white;
  width: 100%;
  padding: 4px;
  text-align: center;
}

.taulukkokehys {
  margin: auto;
  width: 80%;
  border-collapse: collapse;
  height: 200px; 
  overflow: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  padding: 10px;
  border: 1px solid #ddd;
  white-space: nowrap;
}


.label-responsive {
  display: block;
  margin-top: 10px;
  width: 150px;
  padding-right: 10px;
  white-space: nowrap;
}

.label-additional {
  display: inline-block;
  margin-top: 10px;
}


@media (min-width: 576px) {
  .label-responsive {
    display: inline-block;
  }
}
